<div class="row">
	<div class="span12">
		<h1>Leaderboard</h1>
		<h2><%= total_leap_distance %> Total</h2>
		<p>Donec id neque et libero accumsan imperdiet in et nisl. Curabitur leo metus, viverra et interdum id, interdum sed dui.</p>
		
		<p>
			<%= link_to 'About', about_url, :class => 'btn btn-large' %>
			<span id="start-panel">
				or
				<%= link_to 'Start', leap_url, :class => 'btn btn-large btn-primary' %>
			</span>
		</p>
	</div>
</div>

<div class="leaderboard">
	<div class="row">
		<% col = 0 -%>
		<% @leaps.each do |leap| %>
			<div class="span2 item">
				<h4><%= format_distance leap.inches %></h4>
				<p class="small"><%= leap.created_at.to_s(:short) %></p>
			</div>
		  	<% if col >= 5; col = 0; %>
				</div><div class="row">
			<% else
				col += 1
			end %>
		<% end %>
	</div>
</div>

<%= page_navigation_links @leaps %>

<%= javascript_include_tag 'leaderboard' %>
