<h1>Listing leaps</h1>

<table>
  <tr>
    <th>Distance</th>
    <th>Type</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @leaps.each do |leap| %>
  <tr>
    <td><%= leap.distance %></td>
    <td><%= leap.leap_type %></td>
    <td><%= link_to 'Show', leap %></td>
    <td><%= link_to 'Edit', edit_leap_path(leap) %></td>
    <td><%= link_to 'Destroy', leap, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Leap', new_leap_path %>
