<div class="row">
	<div class="span12">
		<h1>Leaderboard</h1>
		<h2>XX Total</h2>
		<p>Donec id neque et libero accumsan imperdiet in et nisl. Curabitur leo metus, viverra et interdum id, interdum sed dui.</p>
		
		<p>
			<%= link_to 'About', about_url, :class => 'btn btn-large' %>
			<span id="start-panel">
				or
				<%= link_to 'Start', leap_url, :class => 'btn btn-large btn-primary' %>
			</span>
		</p>
		
		<table>
		  <tr>
		    <th>Distance</th>
		    <th>Type</th>
		    <th></th>
		  </tr>

		<% @leaps.each do |leap| %>
		  <tr>
		    <td><%= leap.distance %></td>
		    <td><%= leap.leap_type %></td>
		    <td><%= link_to 'Destroy', leap, confirm: 'Are you sure?', method: :delete %></td>
		  </tr>
		<% end %>
		</table>
	</div>
</div>

<%= javascript_include_tag 'leaderboard' %>
