<div id="start-panel" class="welcome clearfix">
	
	<%= link_to 'Help', about_url, :class => 'help icon' %>
	
	<h1 id="logo">LEAP FOR LOAVES</h1>
	<h2>by <a href="http://www.space150.com">space150</a></h2>
	<p class="tagline">
		<span class="left">Use your Leap Day to help fight hunger.</span>
		<span class="right"><a href="<%= leap_url %>" class="button">Play Now<i class="arrow"></i></a></span>
	<p>
</div>

<div class="leaderboard">
	<div class="row">
		<div class="span12">
			<h1>Leaderboard</h1>
			<h2><%= Leap.formatted_total_inches %> Total</h2>
			<p>Donec id neque et libero accumsan imperdiet in et nisl. Curabitur leo metus, viverra et interdum id, interdum sed dui.</p>
		</div>
	</div>
	<div class="row">
		<% col = 0 -%>
		<% @leaps.each do |leap| %>
			<div class="span2 item">
				<h4><%= leap.formatted_inches %></h4>
				<p class="small"><%= leap.created_at.to_s(:short) %></p>
			</div>
		  	<% if col >= 5; col = 0; %>
				</div><div class="row">
			<% else
				col += 1
			end %>
		<% end %>
	</div>
	<%= page_navigation_links @leaps %>
</div>

<% content_for :javascripts do %>
	<%= javascript_include_tag "leaderboard" %>
<% end %>