<div id="welcome-panel" class="welcome clearfix">
	<%= link_to 'Help', about_url, :class => 'help icon' %>
	<div class="panel">
		<h1 id="logo">LEAP FOR LOAVES</h1>
		<h2>by <a href="http://www.space150.com">space150</a></h2>
		<p class="tagline clearfix">
			<span class="left">Use your Leap Day to help fight hunger.</span>
			<span class="right"><a href="<%= leap_url %>" class="button">Play Now<i class="arrow"></i></a></span>
		<p>
	</div>
</div>
<div class="leaderboard">
	<%= link_to 'Help', about_url, :class => 'help icon' %>
	<div class="panel">
		<h1>Global Leaps:</h1>
		<h2><%= Leap.formatted_total_inches %></h2>
		<div>
			<a href="<%= leap_url %>" id="leap-again-button" class="leap-again button">Leap Again<i class="arrow"></i></a>
			<a href="#" class="clear button">Read More<i class="arrow"></i></a>
		</div>
		<div class="board clearfix">
			<% @leaps.each do |leap| %>
				<div class="item">
					<img src="<%= asset_path leap.anim_filename %>" width="" height="" border="0" alt="<%= leap.formatted_inches %>" />
					<h4><%= leap.formatted_inches %></h4>
				</div>
			<% end %>
		</div>
		<%= page_navigation_links @leaps %>
	</div>
</div>

<% content_for :javascripts do %>
	<%= javascript_include_tag "leaderboard" %>
<% end %>