<div id="welcome-panel" class="welcome clearfix">
	<div class="panel clearfix">
		<div class="help">
			<%= link_to 'Help', about_url, :class => 'help icon' %>
		</div>
		<div class="splash">
			<a href="<%= root_url %>" class="logo">LEAP FOR LOAVES</a>
			<h2 class="logo-tag">by <a href="http://www.space150.com" target="_new">space150</a></h2>
			<p class="tagline clearfix">
				<span class="left">Use your Leap Day to help fight hunger.</span>
				<span class="right"><a href="<%= leap_url %>" class="button">Play Now<i class="arrow"></i></a></span>
			<p>
		</div>
	</div>
</div>
<div class="leaderboard">
	<div class="panel clearfix">
		<div class="help">
			<%= link_to 'Help', about_url, :class => 'help icon' %>
		</div>
		<div class="header clearfix">
			<div class="logo entry">
				<a href="<%= root_url %>" class="logo mid">LEAP FOR LOAVES</a>
				<h2 class="logo-tag mid">by <a href="http://www.space150.com" target="_new">space150</a></h2>
			</div><div class="score entry">
				<h3>Global Leaps:</h3>
				<h4><%= Leap.formatted_total_inches %></h4>
			</div><div class="last read-more entry">
				<div class="actions clearfix">
					<div class="action twitter">
						<a href="https://twitter.com/share" class="twitter-share-button" data-url="http://leapforloaves.com" data-text="February 29th is your extra day! Put it to good use for @2harvest – " data-hashtags="leapyear">Tweet</a>
						<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
					</div>
					<div class="action facebook">
						<div class="fb-like" data-href="http://www.leapforloaves.com" data-send="false" data-layout="button_count" data-width="80" data-show-faces="false" data-font="arial"></div>
					</div>
					<div class="action leap">
						<a href="<%= leap_url %>" class="leap-again button">Leap Again<i class="arrow"></i></a>
					</div>
					<div class="action read">
						<a href="#" id="read-more-button" class="clear button">Read More<i class="arrow"></i></a>
					</div>
				</div>
				<div id="read-more-panel">
					<p class="large">People all over the globe are leaping on Leap Day to benefit Second Harvest Heartland food banks!</p>
					<p>If you want to get involved, visit this site with a smartphone, or go to <a href="http://2harvest.org" target="_new">2harvest.org</a> and learn how to help.</p>
				</div>
			</div>
		</div>
		<div class="board clearfix">
			<% @leaps.each do |leap| %><div class="item">
					<img src="<%= asset_path leap.anim_filename %>" width="85" height="181" border="0" alt="<%= leap.formatted_inches %>" />
					<h4><%= leap.formatted_inches %></h4>
				</div><% end %>
		</div>
		<div class="footer clearfix">
			<div class="pager">
				<%= page_navigation_links @leaps %>
			</div>
			<div class="leap-again">
				<a href="<%= leap_url %>" class="leap-again button">Leap Again<i class="arrow"></i></a>
			</div>
		</div>
	</div>
</div>
<% content_for :stylesheets do %>
	<%= stylesheet_link_tag "welcome", :media => "all" %>
	<%= stylesheet_link_tag "leaderboard", :media => "all" %>
<% end %>
<% content_for :javascripts do %>
	<%= javascript_include_tag "leaderboard" %>
	<div id="fb-root"></div>
	<script>(function(d, s, id) {
	  var js, fjs = d.getElementsByTagName(s)[0];
	  if (d.getElementById(id)) return;
	  js = d.createElement(s); js.id = id;
	  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
	  fjs.parentNode.insertBefore(js, fjs);
	}(document, 'script', 'facebook-jssdk'));</script>
<% end %>