<% if params[:v] %>
	<%= render :partial => 'debug' %>
<% end%>
<div id="leap-panel" class="leap">
	<div class="panel clearfix">
		<div class="help">
			<%= link_to 'Help', about_url, :class => 'help icon' %>
		</div>
		<div class="measuring">
			<div class="ruler">
				<div class="inset">
					<ul id="leap-ruler" class="numbers">
						<% Leap::MAX_INCHES.to_i.downto(1) do |number| %>
							<li><%= '%02d' % number %>&quot;</li>
						<% end %>
					</ul>
				</div>
			</div>
			<div id="leap-marker" class="marker"></div>
			<div id="leap-man" class="man">
				<div class="body"></div>
			</div>
			<div id="leap-shadow" class="shadow"></div>
		</div>
		<div class="actions">
			<div id="message-output" class="output">
				<h1>Hold the button while you leap.</h1>
			</div>
			<div class="button">
				<a id="hold-button" class="hold">Hold Down</a>
			</div>
		</div>
	</div>
</div>
<div id="result-panel" class="result">
	<div class="panel clearfix">
		<div class="help">
			<%= link_to 'Help', about_url, :class => 'help icon' %>
		</div>
		<div class="message">
			You just leaped <span id="result-inches" class="light">XX"</span>.<br />
			That brings the total to <span id="result-total-inches" class="light">XX"</span>.
		</div>	
		<div class="actions">
			<a href="<%= leap_url %>" class="button">Leap Again<i class="arrow"></i></a>
			<a href="<%= leaderboard_url( :i => 1 ) %>" class="button">Leaderboard<i class="arrow"></i></a>
		</div>
	</div>
</div>
<% content_for :stylesheets do %>
	<%= stylesheet_link_tag "leap", :media => "all" %>
<% end %>
<% content_for :javascripts do %>
	<%= javascript_include_tag "leap" %>
<% end %>
