<% if params[:v] %>
	<%= render :partial => 'debug' %>
<% end%>
<div id="leap-panel" class="leap">
	<div class="panel clearfix">
		<div class="help">
			<%= link_to 'Help', '#', :class => 'help icon' %>
		</div>
		<div class="measuring">
			<div class="ruler">
				<div class="inset">
					<ul id="leap-ruler" class="numbers">
						<% Leap::MAX_INCHES.to_i.downto(1) do |number| %>
							<li><%= '%02d' % number %>&quot;</li>
						<% end %>
					</ul>
				</div>
			</div>
			<div id="leap-marker" class="marker"></div>
			<div id="leap-man" class="man">
				<div class="body"></div>
				<div class="trail"></div>
			</div>
			<div id="leap-shadow" class="shadow"></div>
		</div>
		<div class="actions">
			<div id="message-output" class="output">
				<h1>Hold the button while you leap.</h1>
			</div>
			<div class="button">
				<a id="hold-button" class="hold">Hold Down</a>
			</div>
		</div>
	</div>
</div>
<div id="result-panel" class="result">
	<div class="panel clearfix">
		<div class="help">
			<%= link_to 'Help', '#', :class => 'help icon' %>
		</div>
		<div class="message">
			You just leaped <span id="result-inches" class="light">XX"</span>.<br />
			That brings the total to <span id="result-total-inches" class="light">XX"</span>.
		</div>	
		<div class="actions">
			<a href="<%= leap_url %>" class="button">Leap Again<i class="arrow"></i></a>
			<a href="<%= leaps_url( :i => 1 ) %>" class="button">See Leaps<i class="arrow"></i></a>
		</div>
		<div class="sharing">
			<div class="share twitter">
				<a href="https://twitter.com/share" class="twitter-share-button" data-url="http://leapforloaves.com" data-text="February 29th is your extra day! Put it to good use for @2harvest – " data-hashtags="leapyear">Tweet</a>
				<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
			</div>
			<div class="share facebook">
				<div class="fb-like" data-href="http://www.leapforloaves.com" data-send="false" data-layout="button_count" data-width="80" data-show-faces="false" data-font="arial"></div>
			</div>
		</div>
	</div>
</div>
<% content_for :stylesheets do %>
	<%= stylesheet_link_tag "leap", :media => "all" %>
<% end %>
<% content_for :javascripts do %>
	<%= javascript_include_tag "leap" %>
	<div id="fb-root"></div>
	<script>(function(d, s, id) {
	  var js, fjs = d.getElementsByTagName(s)[0];
	  if (d.getElementById(id)) return;
	  js = d.createElement(s); js.id = id;
	  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
	  fjs.parentNode.insertBefore(js, fjs);
	}(document, 'script', 'facebook-jssdk'));</script>
<% end %>
