<% if params[:v] %>
	<%= render :partial => 'debug' %>
<% end%>
<div id="leap-panel" class="leap">
	<div class="panel clearfix">
		<div class="help">
			<%= link_to 'Help', about_url, :class => 'help icon' %>
		</div>
		<div class="measuring">
			<div class="ruler">
				<ul id="leap-ruler" class="numbers">
					<% Leap::MAX_INCHES.to_i.downto(1) do |number| %>
						<li><%= '%02d' % number %>&quot;</li>
					<% end %>
				</ul>
			</div>
			<div id="leap-marker" class="marker"></div>
			<div id="leap-man" class="man">
				<div class="body"></div>
				<div class="shadow"></div>
			</div>
		</div>
		<div class="actions">
			<div id="message-output" class="output">
				<h1>Hold the button while you leap.</h1>
			</div>
			<div class="button">
				<a id="hold-button" class="hold">Hold Down</a>
			</div>
		</div>
	</div>
</div>
<div id="result-panel" class="result">
	<div class="panel clearfix">
		<h1>You added <span id="result-inches">XX"</span> for a grand total of <span id="result-total-inches">XX"</span></h1>
		<p>
			<%= link_to 'Jump Again', leap_url, :class => 'btn btn-large' %>
			or
			<%= link_to 'Leaderboard', leaderboard_url, :class => 'btn btn-large btn-primary' %>
		</p>
	</div>
</div>
<% content_for :stylesheets do %>
	<%= stylesheet_link_tag "leap", :media => "all" %>
<% end %>
<% content_for :javascripts do %>
	<%= javascript_include_tag "leap" %>
<% end %>
