<!DOCTYPE html>
<html>
    <head>
        <title>Leap4Loaves</title>
		<meta property="og:title" content="Leap for Loaves" />
		<meta property="og:type" content="website" />
		<meta property="og:image" content="<%= asset_path 'icon.png' %>" />
		<meta property="og:url" content="http://www.leapforloaves.com" />
		<meta property="og:site_name" content="Leap for Loaves" />
		<link rel="shortcut icon" href="/favicon.ico">
		<link rel="apple-touch-icon-precomposed" href="<%= asset_path 'icon.png' %>">
		<link rel="apple-touch-icon-precomposed" sizes="72x72" href="<%= asset_path 'icon.png' %>">
		<link rel="apple-touch-icon-precomposed" sizes="114x114" href="<%= asset_path 'icon.png' %>">
		<meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;" />
		<meta name="apple-mobile-web-app-capable" content="yes" />
		<%= stylesheet_link_tag "application", :media => "all" %>
		<%= csrf_meta_tags %>
		<script type="text/javascript"> ALREADY_VIEWED_INTRO = <%=params[:i] ? 'true' : 'false'%>; </script>
    </head>
    <!--[if IE]><body class="ie"><![endif]--><!--[if !IE]><body><![endif]-->
		<div class="container">
			<%= yield %>
		</div>
		<%= javascript_include_tag "application" %>
		<%= yield :javascripts %>
    </body>
</html>
