<!DOCTYPE html>
<html>
    <head>
        <title>Leap4Loaves</title>
		<meta property="og:title" content="Leap for Loaves" />
		<meta property="og:type" content="website" />
		<meta property="og:image" content="<%= asset_path 'icon.png' %>" />
		<meta property="og:url" content="http://www.leapforloaves.com" />
		<meta property="og:site_name" content="Leap for Loaves" />
		<link rel="shortcut icon" href="/favicon.ico">
		<link rel="apple-touch-icon-precomposed" href="<%= asset_path 'icon.png' %>">
		<link rel="apple-touch-icon-precomposed" sizes="72x72" href="<%= asset_path 'icon.png' %>">
		<link rel="apple-touch-icon-precomposed" sizes="114x114" href="<%= asset_path 'icon.png' %>">
		<meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;" />
		<meta name="apple-mobile-web-app-capable" content="yes" />
		<%= stylesheet_link_tag "application", :media => "all" %>
		<%= csrf_meta_tags %>
		<script type="text/javascript"> ALREADY_VIEWED_INTRO = <%=params[:i] ? 'true' : 'false'%>; </script>
    </head>
    <!--[if IE]><body class="ie"><![endif]--><!--[if !IE]><body><![endif]-->
		<div class="container">
			<%= yield %>
		</div>
		<div id="about-overlay"></div>
		<div id="about-content">
			<a class="close"></a>
			<p>This is Leap for Loaves, a project by <a href="http://www.space150.com">space150</a>.</p>
			<p>We decided that since we have an extra day this year, why not use it to do something good?</p>
			<p>Why:<br />In honor of Leap Year, we're raising money for charity by asking people to literally leap up and down. Help us reach our goal of 1,000 feet, and we'll donate $1,000 to the <a href="http://www.2harvest.org">Second Harvest</a> food bank.</p>
			<p>How:<br />The app uses your phone's accelerometer to find out how long your leap lasted. From that information we determine how high you went. It may not be scientific, but it is fun—and it's for a good cause, so who cares?</p>
		</div>
		<%= javascript_include_tag "application" %>
		<%= yield :javascripts %>
    </body>
</html>
