<!DOCTYPE html>
<html>
    <head>
        <title>Leap Year at space150 | Leap for Loaves</title>
        <meta name="description" content="space150 is asking you to do something special this leap year. Use your leap day to help us raise money to feed local families. Leap for loaves." />
		<meta name="keywords" content="leap year, leapyear, leap day, leapday, leap for loaves, leapforloaves" />
		<meta property="og:title" content="Leap for Loaves" />
		<meta property="og:type" content="website" />
		<meta property="og:image" content="<%= asset_path 'icon.png' %>" />
		<meta property="og:url" content="http://www.leapforloaves.com" />
		<meta property="og:site_name" content="Leap for Loaves" />
		<link rel="shortcut icon" href="/favicon.ico">
		<link rel="apple-touch-icon-precomposed" href="<%= asset_path 'icon.png' %>">
		<link rel="apple-touch-icon-precomposed" sizes="72x72" href="<%= asset_path 'icon.png' %>">
		<link rel="apple-touch-icon-precomposed" sizes="114x114" href="<%= asset_path 'icon.png' %>">
		<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0" />
		<meta name="apple-mobile-web-app-capable" content="yes" />
		<%= stylesheet_link_tag "application", :media => "all" %>
		<%= yield :stylesheets %>
		<%= csrf_meta_tags %>
		<script type="text/javascript"> ALREADY_VIEWED_INTRO = <%=params[:i] ? 'true' : 'false'%>; </script>
		<script type="text/javascript">
		  var _gaq = _gaq || [];
		  _gaq.push(['_setAccount', 'UA-880454-12']);
		  (function() {
		    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
		    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
		    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
		  })();
		</script>
    </head>
    <!--[if IE]><body class="ie"><![endif]-->
    <!--[if !IE]><body><![endif]-->
		<div id="error-panel">
			<div class="message"></div>
		</div>
		<div class="container">
			<%= yield %>
		</div>
		<div id="about-overlay"></div>
		<div id="about-content">
			<a class="close">Close</a>
			<p>This is Leap for Loaves, a project by <a href="http://www.space150.com" target="_new">space150</a>.</p>
			<p>We decided that since we have an extra day this year, why not use it to do something good?</p>
			<p>Why:<br />In honor of Leap Year, we're raising money for charity by asking people to literally leap up and down. Help us reach our goal of 1,000 feet, and we'll donate $1,000 to the <a href="http://www.2harvest.org" target="_new">Second Harvest Heartland</a> food bank.</p>
			<p>How:<br />The app uses your phone's accelerometer to find out how long your leap lasted. From that information we determine how high you went.</p>
			<p>Who:<br />Leap for Loaves is a product of spaceLabs. The source is available on <a href="https://github.com/space150/s150-leap-for-loaves" target="_new">github</a> and it runs on <a href="http://www.heroku.com" target="_new">heroku</a>. Watch a video of the space150 testing center: <a href="http://vimeo.com/37571641" target="_new">http://vimeo.com/37571641</a></p>
		</div>
		<%= javascript_include_tag "application" %>
		<%= yield :javascripts %>
    </body>
</html>
