<!DOCTYPE html>
<html>
    <head>
        <title>Leap Year at space150 | Leap for Loaves</title>
        <meta name="description" content="space150 is asking you to do something special this leap year. Use your leap day to help us raise money to feed local families. Leap for loaves." />
		<meta name="keywords" content="leap year, leapyear, leap day, leapday, leap for loaves, leapforloaves" />
		<meta property="og:title" content="Leap for Loaves" />
		<meta property="og:type" content="website" />
		<meta property="og:image" content="<%= asset_path 'icon.png' %>" />
		<meta property="og:url" content="http://www.leapforloaves.com" />
		<meta property="og:site_name" content="Leap for Loaves" />
		<link rel="shortcut icon" href="/favicon.ico">
		<link rel="apple-touch-icon-precomposed" href="<%= asset_path 'icon.png' %>">
		<link rel="apple-touch-icon-precomposed" sizes="72x72" href="<%= asset_path 'icon.png' %>">
		<link rel="apple-touch-icon-precomposed" sizes="114x114" href="<%= asset_path 'icon.png' %>">
		<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0" />
		<meta name="apple-mobile-web-app-capable" content="yes" />
		<%= stylesheet_link_tag "application", :media => "all" %>
		<%= yield :stylesheets %>
		<%= csrf_meta_tags %>
		<script type="text/javascript"> ALREADY_VIEWED_INTRO = <%=params[:i] ? 'true' : 'false'%>; </script>
		<script type="text/javascript">
		  var _gaq = _gaq || [];
		  _gaq.push(['_setAccount', 'UA-880454-12']);
		  (function() {
		    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
		    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
		    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
		  })();
		</script>
    </head>
    <!--[if IE]><body class="ie"><![endif]-->
    <!--[if !IE]><body><![endif]-->
		<div id="error-panel">
			<div class="message"></div>
		</div>
		<div class="container">
			<%= yield %>
		</div>
		<div id="about-overlay"></div>
		<div id="about-content">
			<p><strong>Thanks to everyone who participated in Leap for Loaves!</strong></p>
			<p>We exceeded our leaping goal of <strong>1,000</strong> feet, and earned <strong>$1,000</strong> for food banks.</p>
			<p>Our extra day may be over, but you can still fight hunger. Go to Second Harvest Heartland and find out how you can help.</p>
			<p>And even though it won't be for charity, you can still leap for the fun of it.</p>
		</div>
		<a id="about-close" class="close">Close</a>
		<%= javascript_include_tag "application" %>
		<%= yield :javascripts %>
    </body>
</html>
